@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
  display: block;
}

html {
  font-size: 1.1rem;
  font-family: "Press Start 2P";
}
body {
  background: linear-gradient(
    to top,
    rgb(211, 212, 234),
    rgb(7, 2, 76),
    rgb(2, 2, 45)
  );
}

.game-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100vw;
  height: 100vh;
  background-image: url(../images/PokeWallpaper.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}
.timer-header {
  top: 5%;
  left: 5%;
  padding: 2.3rem;
  position: absolute;
  border-radius: 100%;
  background-color: rgb(123 126 0);
}

.countDown {
  font-family: "Major Mono Display", sans-serif;
  font-size: 2rem;
  font-weight: bolder;
  color: black;
}

.gameBoard {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  width: 80%;
}

.row {
  width: 100%;
  display: flex;
  background-color: rgb(0 0 0 / 57%);
}

.game-container article .cell {
  padding: 5px;
  width: 25%;
  border: solid 1px rgb(238, 0, 255);
}

h1 {
  text-align: center;
  font-family: "Pacifico", cursive;
  text-shadow: 3px 3px 1px rgb(205, 116, 21);
  color: rgb(236, 240, 12);
  font-size: 18px;
}

.circle {
  border-radius: 50%;
  transition: all 1s;
  width: 100%;
}
.playAgainBtn {
  padding: 1rem;
  border-radius: 2rem;
  background-color: #ae2323;
  font-size: 1.5rem;
  color: white;
}
